@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    font-family: "Josefin Sans";   
}

body {
    background-color: rgba(128, 128, 128, 0.205);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h3 {
    margin-top: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(4, 100px);
    gap: 50px;
}

main a {
    text-decoration: none;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.sorter {
    background-image: url(./Photos/Sorter.png);
    background-size: 200px 100px;
    text-shadow: 0px 0px 1px black;
}

.clicky {
    background-image: url(./Photos/Clicky.png);
    background-size: 200px 100px;
    text-shadow: 0px 0px 1px black;
}

@media (max-width: 768px) {

    body {
        padding: 10px;
    }

    .header h1 {
        font-size: 2rem;
        text-align: center;
    }

    .header h3 {
        font-size: 1rem;
        text-align: center;
    }

    .header a {
        font-size: 0.9rem;
    }

    main {
        grid-template-columns: repeat(2, 1fr);
        /* 2 cards per row */
        grid-template-rows: auto;
        gap: 20px;
        justify-items: center;
    }

    main a {
        width: 100%;
        max-width: 180px;
        height: 100px;
        font-size: 1.2rem;
    }

    .sorter,
    .clicky {
        background-size: cover;
        background-position: center;
    }
}

main a {
    cursor: pointer;
    touch-action: manipulation;
}
