@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    font-family: "Josefin Sans";   
}

body {
    background-color: rgba(128, 128, 128, 0.205);
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header h3 {
    margin-top: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(6, 200px);
    grid-template-rows: repeat(4, 100px);
}

main a {
    text-decoration: none;
    color: white;
    border: 2px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.sorter {
    background-image: url(./Photos/Sorter.png);
    background-size: 200px 100px;
    text-shadow: 0px 0px 1px black;
}